data/
build/
build-docker/
local/
.vs/
.vscode/
.idea/
.DS_Store
__pycache__
CMakeSettings.json
cmake-build-*

frontend/replay/*

trial_and_error/replay/*
trial_and_error/roadnet/*
trial_and_error/flow/*